/* components/Task.css */

.Task {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  transition: background-color 1s, padding 0.5s;
}

.Task:hover {
  background-color: #dbddf8;
  padding: 20px 30px;
}

.Task h3 {
  margin: 0;
}

.Task p {
  margin: 5px 0;
}

.Task button {
  margin-right: 5px;
}

.Task button:last-child {
  margin-right: 0;
}



/* Media queries for responsive layout */

/* Desktops and larger (1024px and above) */
@media screen and (min-width: 1024px) {
  .Task {
    max-width: 400px;
    margin: 10px auto;
  }
}
